{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>articles_list</title>

    <link rel="stylesheet" href="{% static 'styles.css' %} ">

  </head>
  <body>
    <h1>articles list</h1>
    <div class="articles_list">
      <p>this is article from article app </p>

      {%  for article in articles %}

      <h2> <a href="#">{{article.str}}</a> </h2>
      <p>{{article.snipper}}</p>
      <p>{{article.date}}</p>

      {%  endfor %}

    </div>
    <div class="1">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

  </body>
</html>
