{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
    <link rel="stylesheet" href="{% static 'home.css' %} ">


  </head>
  <body>
    <div class="blog home">
      <h2>Home blog</h2>
      <p>hello my name is navid and this is a example project for upload to git hub , source top learn </p>

    </div>
    <div class="link">

    <p>home/ , about/ , '' , 'articles/', 'accounts/signup', 'accounts/login, 'admin/ admin adminnavid' , </p>
    <a href="/about">about</a>
    <p></p>
    <a href="/articles/">articles</a>
    <p></p>
    <a href="/admin/">admin</a>
    <p></p>

    <a href="/accounts/signup">SingUp</a>
    <p></p>
    <a href="/accounts/login">LogIn</a>

    </div>
  </body>
</html>
